<div id="section-header" class="containerHeader">
    <img class="bgrImg-1" src="./../../assets/background-shapes/purple-shadow.png" alt="">
    <img class="bgrImg-2" src="./../../assets/background-shapes/red-shadow.png" alt="">

    <div class="headline">
        <div>
            <p class="headline90deg">I am</p>
            <div class="headlineSecondary">
                <h1>Marcel Hofbauer</h1>
                <h2>Frontend Developer</h2>
            </div>
        </div>
        <a href="#section-contact">Let's Talk!</a>
    </div>
    <div class="headerScrollDown">
        <img src="./../../assets/header/Scroll down.png" alt="">
    </div>
    <div class="headerContact">
        <img class="socialContactBar" src="./../../assets/header/line.png" alt="">
        <!--social links-->
        <a target="_blank" href="https://github.com/MarcelHofbauer">
            <img class="socialContactIcons" src="./../../assets/header/github.png" alt="">
        </a>
        <a target="_blank" href="mailto:marcel.hof.0611@gmail.com">
            <img class="socialContactIcons" src="./../../assets/header/mail.png" alt="">
        </a>
        <a target="_blank" href="https://www.linkedin.com/in/marcel-hofbauer-724521276/">
            <img class="socialContactIcons" src="./../../assets/header/linkedin.png" alt="">
        </a>
    </div>
</div>