.containerHeader {
    height: 100vh;
    max-width: 100vw;

    .bgrImg-1 {
        position: absolute;
        right: -120px;
        top: 10px;
        height: 200px;
    }

    .bgrImg-2 {
        position: absolute;
        left: -70px;
        top: 30px;
        height: 200px;
    }
}

.headline {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: unset;
}