$orange-color: #E86F00;
$red-color: #FF4747;
$purple-color: #D61CE6;


.containerHeader {
    height: 100vh;
    max-width: 100vw;

    .bgrImg-1 {
        position: absolute;
        right: 0px;
        top: -25px;
        height: 700px;
        transform: translateX(400px);
    }

    .bgrImg-2 {
        position: absolute;
        left: 0px;
        top: 150px;
        height: 700px;
        transform: translateX(-300px);
    }
}

.headline {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: unset;
    color: white;

    div {
        display: flex;
        height: 200px;
    }

    .headline90deg {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 50px;
        transform: rotate(-90deg) translateY(45px);
        width: 200px;
    }

    a {
        background-color: $orange-color;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        border: unset;
        padding: 10px 30px;
        color: white;
        transition: 150ms ease-in-out;
        text-decoration: none;
        font-size: 28px;

        &:hover {
            background-color: $red-color !important;
            cursor: pointer;
            transition: 150ms ease-in-out;
            transform: scale(1.1);
        }
    }
}

.headlineSecondary {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 45px;
        color: $red-color;
        font-weight: 500;
    }
}

.headerScrollDown {
    position: absolute;
    right: 50px;
    bottom: 50px;

    img {
        height: 150px;
        object-fit: cover;
    }
}

.headerContact {
    position: absolute;
    bottom: 50px;
    display: flex;
    align-items: center;
    gap: 40px;

    .socialContactBar {
        height: 5px;
    }

    .socialContactIcons {
        height: 20px;
        transition: 150ms ease-in-out;

        &:hover {
            transform: scale(1.6);
            transition: 150ms ease-in-out;
        }
    }
}