<div class="containerFooter">
    <div class="footerLogo">
        <a href="#section-header" class="navBarLogo">
            <p>Marce</p>
            <p class="navBarLogo-l">l</p>
        </a>
        <p class="impr">impressum</p>
    </div>
    <div class="copyright">
        © Marcel Hofbauer 2023
    </div>
    <div class="socialContactsFooter">
        <!--social links-->
        <a target="_blank" href="https://github.com/MarcelHofbauer">
            <img class="socialContactIcons" src="./../../assets/header/github.png" alt="">
        </a>
        <a target="_blank" href="mailto:marcel.hof.0611@gmail.com">
            <img class="socialContactIcons" src="./../../assets/header/mail.png" alt="">
        </a>
        <a target="_blank" href="https://www.linkedin.com/in/marcel-hofbauer-724521276/">
            <img class="socialContactIcons" src="./../../assets/header/linkedin.png" alt="">
        </a>
    </div>
</div>