<div class="containerFooter">
    <div class="footerLogo">
        <a href="#section-header" class="navBarLogo">
            <p>Marce</p>
            <p class="navBarLogo-l">l</p>
        </a>
        <p class="impr">impressum</p>
    </div>
    <div class="copyright">
        © Marcel Hofbauer 2023
    </div>
    <div class="socialContactsFooter">
        <img class="socialContactIcons" src="./../../assets/header/github.png" alt="">
        <img class="socialContactIcons" src="./../../assets/header/mail.png" alt="">
        <img class="socialContactIcons" src="./../../assets/header/linkedin.png" alt="">
    </div>
</div>