<div class="containerAboutMe">
    <div class="aboutMe">
        <h2>About Me</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, vel nisi blanditiis reiciendis aut ab maxime
            sapiente quisquam ullam perspiciatis voluptates qui inventore atque quidem labore possimus voluptatum
            exercitationem amet!</p>
        <div>
            <img src="./../../assets/aboutme/lamp.png" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, porro, in fugit commodi voluptate
                provident amet quia assumenda hic quam ab impedit autem accusamus ipsa esse officiis, quibusdam
                molestiae laudantium.</p>
        </div>
        <div>
            <img src="./../../assets/aboutme/puzle.png" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, porro, in fugit commodi voluptate
                provident amet quia assumenda hic quam ab impedit autem accusamus ipsa esse officiis, quibusdam
                molestiae laudantium.</p>
        </div>
    </div>

    <img class="portrai" src="./../../assets/aboutme/mich.png" alt="">
    <img class="portraiBgr" src="./../../assets/aboutme/portraibgr.png" alt="">
    <img class="portraiShadow" src="./../../assets/aboutme/shadow.png" alt="">
</div>