$orange-color: #E86F00;
$red-color: #FF4747;
$purple-color: #D61CE6;

.navBar {
    background-color: #141D2F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.navBarLogo {
    display: flex;
    font-size: 30px;
    color: white;
    text-decoration: none;


    .navBarLogo-l {
        color: $orange-color;
    }
}

.navBarMenu {
    display: flex;
    font-size: 18px;
    gap: 30px;


    p {
        transition: 150ms ease-in-out;

        &:hover {
            color: $orange-color !important;
            cursor: pointer;
            transition: 150ms ease-in-out;
        }
    }
}