@import url(./../../styles.scss);

.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.navBarLogo {
    display: flex;

    .navBarLogo-l {
        color: $orange-color;
    }
}


.navBarMenu {
    display: flex;
    font-size: 10px;
    gap: 10px;

    &:hover {
        color: $orange-color !important;
        cursor: pointer;
    }
}