$orange-color: #E86F00;
$red-color: #FF4747;
$purple-color: #D61CE6;

.navBar {
    background-color: #141D2F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.navBarLogo {
    display: flex;
    font-size: 30px;
    color: white;
    text-decoration: none;


    .navBarLogo-l {
        color: $orange-color;
    }
}

.navBarMenu {
    display: flex;
    font-size: 18px;
    gap: 30px;


    a {
        transition: 150ms ease-in-out;
        text-decoration: unset;
        color: unset;

        &:hover {
            color: $orange-color !important;
            cursor: pointer;
            transition: 150ms ease-in-out;
        }
    }
}