$orange-color: #E86F00;
$red-color: #FF4747;
$purple-color: #D61CE6;

.containerContact {
    height: 100vh;
    padding-top: 100px;
}

.contactHead {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    color: white;

    img {
        height: 5px;
    }

    h2 {
        font-size: 60px;
    }
}

.contactSection {
    padding: 50px;
    color: white;
    display: flex;
    justify-content: space-between;

    .sectionLeft {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 400px;

        h3 {
            font-size: 26px;
        }

        span {
            display: flex;
            gap: 10px;

            .slContactMe {
                font-weight: bold;
            }
        }
    }

    .sectionRight {

        form {
            display: flex;
            flex-direction: column;

            input {
                background-color: unset;
                color: white;
            }

            textarea {
                background-color: unset;
                color: white;
            }
        }
    }
}