@use "./../app.component.scss" as *;

.containerContact {
    max-height: 100vh;
    overflow: hidden;
    padding-top: 100px;
}

.contactHead {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    color: white;

    img {
        height: 5px;
    }

    h2 {
        font-size: 60px;
    }
}

.contactSection {
    padding: 50px;
    color: white;
    display: flex;
    justify-content: space-between;

    .sectionLeft {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 400px;

        h3 {
            font-size: 26px;
        }

        span {
            display: flex;
            gap: 10px;

            .slContactMe {
                font-weight: bold;
            }
        }
    }

    .sectionRight {

        form {
            display: flex;
            flex-direction: column;
            align-items: center;

            textarea {
                resize: none;
            }

            .contactFormField {
                z-index: 1;
                background-color: #141D2F;
                color: white;
                width: 400px;
                margin-bottom: 20px;
                padding: 10px;
                border: 1px solid $red-color;
                border-radius: 10px;

                &::placeholder {
                    color: white;
                }

                &:hover {
                    border: 1px solid $purple-color;
                }
            }

            a {
                background-color: $orange-color;
                box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 10px;
                border: unset;
                margin-top: 20px;
                padding: 10px 30px;
                color: white;
                transition: 150ms ease-in-out;
                text-decoration: none;
                font-size: 20px;
                width: max-content;
        
                &:hover {
                    background-color: $red-color !important;
                    cursor: pointer;
                    transition: 150ms ease-in-out;
                    transform: scale(1.1);
                }
        
            }
        }
    }
}