<div id="section-contact" class="containerContact">
    <div class="contactHead">
        <h2>Contact</h2>
        <img src="./../../assets/contact/LINE 4.png" alt="">
    </div>
    <div class="contactSection">
        <div class="sectionLeft">
            <h3>Got a problem to solve?</h3>
            <p>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your
                projects with my work.
            </p>
            <span>
                <p>Need a Frontend developer?</p>
                <p class="slContactMe">Contact me!</p>
            </span>
        </div>
        <div class="sectionRight">
            <form action="contact.component.html">
                <input class="contactFormField" oninvalid="this.setCustomValidity('Bitte geben Sie Ihren Namen im Format \'Vorname Nachname\' ein.')" type="text" placeholder="Your name" pattern="[A-Z][a-z]+ [A-Z][a-z]+" required>
                <input class="contactFormField" oninvalid="this.setCustomValidity('Bitte geben Sie Ihre email im Format \'mustermann@gmail.com\' ein.')" type="email" placeholder="Your email" required>
                <textarea class="contactFormField" name="" id="" cols="30" rows="10" placeholder="Your message" required></textarea>
                <a href="#section-contact">Send message :)</a>
            </form>
        </div>
    </div>
</div>