<div id="section-skills" class="containerSkills">
    <div class="allSkillsIcons">
        <div>
            <div>
                <img src="./../../assets/skills/JavScript.png" alt="">
                <p>JavaScript</p>
            </div>
            <div>
                <img src="./../../assets/skills/Angular.png" alt="">
                <p>Angular</p>
            </div>
            <div>
                <img src="./../../assets/skills/typescript.png" alt="">
                <p>TypeScript</p>
            </div>
            <div>
                <img src="./../../assets/skills/html.png" alt="">
                <p>HTML</p>
            </div>
        </div>
        <div>
            <div>
                <img src="./../../assets/skills/git.png" alt="">
                <p>GIT</p>
            </div>
            <div>
                <img src="./../../assets/skills/Firebase.png" alt="">
                <p>Firebase</p>
            </div>
            <div>
                <img src="./../../assets/skills/css.png" alt="">
                <p>CSS</p>
            </div>
        </div>
        <div>
            <div>
                <img src="./../../assets/skills/scrum.png" alt="">
                <p>Scrum</p>
            </div>
            <div>
                <img src="./../../assets/skills/Api.png" alt="">
                <p>Rest-Api</p>
            </div>
        </div>
        <div>
            <div>
                <img src="./../../assets/skills/materialDesign.png" alt="">
                <p>Material<br>Design</p>
            </div>
        </div>
    </div>
    <div class="skills">
        <div>
            <h2>Skills</h2>
            <img src="./../../assets/skills/LINE2.png" alt="">
        </div>
        <p>I have gained experience in building projects with various front end technologies and concepts</p>
        <a href="#section-contact">Let's Talk!</a>
    </div>
</div>