<div id="section-portfolio" class="containerPortfolio">
    <img class="bgrShadowPortfolioP" src="./../../assets/portfolio/Purple shadow.png" alt="">
    <img class="bgrShadowPortfolioO" src="./../../assets/portfolio/Orange shadow.png" alt="">
    <div class="portfolioHeader">
        <img src="./../../assets/portfolio/LINE.png" alt="">
        <h2>Portfolio</h2>
    </div>
    <p class="portfolioDescription">
        This page is a sample of my work! scroll down to view other projects I have developed
    </p>
    <div class="containerProjects">
        <div>
            <div class="projectOverview">
                <img class="pc" src="./../../assets/portfolio/join.png" alt="">
                <img class="pcShadow" src="./../../assets/portfolio/pcshadow.png" alt="">
            </div>
            <div class="projectOverview">
                <div class="clickView">
                    <div>
                        <a class="link" href="">
                            GitHub
                        </a>
                        <a class="link lifeTest" href="">
                            Life test
                        </a>
                    </div>
                    <div class="clickViewDescription">
                        <h2>Pokedex</h2>
                        <p>Based on the PokéAPI a simple library that provides and catalogues pokemon information.
                        </p>
                        <p class="descriptionCode">HTML | CSS | JavaScript | API</p>
                    </div>
                </div>

                <img class="pc" src="./../../assets/portfolio/Pkedex.png" alt="">
                <img class="pcShadow" src="./../../assets/portfolio/pcshadow.png" alt="">
            </div>
        </div>
        <div>
            <div class="projectOverview">
                <img class="pc" src="./../../assets/portfolio/simplecrm.png" alt="">
                <img class="pcShadow" src="./../../assets/portfolio/pcshadow.png" alt="">
            </div>
            <div class="projectOverview">
                <img class="pc" src="./../../assets/portfolio/polloloco.png" alt="">
                <img class="pcShadow" src="./../../assets/portfolio/pcshadow.png" alt="">
            </div>
        </div>
    </div>
</div>