$orange-color: #E86F00;
$red-color: #FF4747;
$purple-color: #D61CE6;

.containerPortfolio {
    height: 150vh;
    padding-top: 100px;

    .bgrShadowPortfolioP {
        position: absolute;
        right: 0;
        transform: translateX(300px) translateY(-300px);
    }

    .bgrShadowPortfolioO {
        position: absolute;
        left: 0;
        transform: translateX(-600px) translateY(600px);
    }


    div {
        z-index: 1;
    }
}

.portfolioHeader {
    color: white;
    display: flex;
    align-items: center;
    gap: 40px;
    padding-bottom: 10px;


    img {
        height: 5px;
    }

    h2 {
        font-size: 60px;
    }
}

.portfolioDescription {
    width: 600px;
    color: white;
    padding-left: 105px;
}

.containerProjects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-top: 100px;

    div {
        display: flex;
        gap: 50px;

        div {
            border: 1px solid $orange-color;
            border-radius: 10px;
            background-color: #141D2F;
            position: relative;
            overflow: hidden;

            .pc {
                z-index: 1;
            }

            .pcShadow {
                position: absolute;
                bottom: -105px;
            }
        }
    }

    img {
        height: 450px;
        width: 450px;
        object-fit: contain;
    }
}