<div id="section-portfolio" class="containerPortfolio">
    <img class="bgrShadowPortfolio" src="./../../assets/portfolio/Purple shadow.png" alt="">
    <div class="portfolioHeader">
        <img src="./../../assets/portfolio/LINE.png" alt="">
        <h2>Portfolio</h2>
    </div>
    <p class="portfolioDescription">
        This page is a sample of my work! scroll down to view other projects I have developed
    </p>
    <div class="containerProjects">
        <div>
            <div>
                <img class="pc" src="./../../assets/portfolio/join.png" alt="">
                <img class="pcShadow" src="./../../assets/portfolio/pcshadow.png" alt="">
            </div>
            <div>
                <img class="pc" src="./../../assets/portfolio/Pkedex.png" alt="">
                <img class="pcShadow" src="./../../assets/portfolio/pcshadow.png" alt="">
            </div>
        </div>
        <div>
            <div>
                <img class="pc" src="./../../assets/portfolio/simplecrm.png" alt="">
                <img class="pcShadow" src="./../../assets/portfolio/pcshadow.png" alt="">
            </div>
            <div>
                <img class="pc" src="./../../assets/portfolio/polloloco.png" alt="">
                <img class="pcShadow" src="./../../assets/portfolio/pcshadow.png" alt="">
            </div>
        </div>
    </div>
</div>